@import "../../styles/utils/variables";

.notFound {
  text-align: center;
  margin: $spacing * 8 auto;
  color: $text-color-light;

  h1 {
    font-size: 5rem;
    color: $primary-color;
    margin-bottom: $spacing * 2;
  }

  p {
    font-size: 1.2rem;
    margin-bottom: $spacing * 4;
  }

  .homeLink {
    padding: $spacing * 1.5 $spacing * 3;
    background-color: $primary-color;
    color: #ffffff;
    text-decoration: none;
    border-radius: $border-radius;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: lighten($primary-color, 10%);
    }
  }
}
