@import '../../../styles/utils/variables';

.skills {
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding: $spacing * 4;
  color: $text-color-light;

  h2 {
    font-size: 1.7rem;
    margin-bottom: $spacing * 3;
    font-style: oblique;
    color: #ffffff;
  }

  .skillsContainer {
    display: flex;
    justify-content: center;
    gap: $spacing * 4;
    flex-wrap: wrap;
  }

  .skill {
    flex: 1 1 auto;
    max-width: 300px;
    padding: clamp(1rem, 2vw, 2rem);
    font-size: clamp(0.9rem, 1.5vw, 1.2rem);
    background-color: #1e3a5f;
    border: 1px solid #3f6791;
    border-radius: $border-radius;
    color: #ffffff;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
    }

    img {
      width: 60px;
      height: 60px;
      margin-bottom: $spacing * 2;
    }

    h3 {
      font-size: 1.5rem;
      margin-bottom: $spacing;
      color: #ffffff;
    }

    p {
      font-size: 1rem;
      line-height: 1.6;
      color: rgba(255, 255, 255, 0.8);
    }
  }
}
