@import "../../styles/utils/variables";

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $primary-color;
  color: $text-color-light;
  padding: $spacing * 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 
    inset 0 0 20px rgba(255, 255, 255, 0.1),
    0 4px 20px rgba(0, 0, 0, 0.7);
  z-index: 1;

  nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    .homeIcon {
      margin-right: $spacing * 4;

      a {
        display: inline-block;
        width: 2rem;
        height: 2rem;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }

        &:hover {
          opacity: 0.8;
        }
      }
    }

    ul {
      list-style: none;
      display: flex;
      gap: $spacing * 6;
      margin: 0;
      padding: 0;

      li a {
        color: $text-color-light;
        text-decoration: none;
        text-shadow: 0 0 8px rgba(255, 255, 255, 0.3);
        font-size: clamp(0.8rem, 1.5vw, 1rem);

        &:hover {
          color: $link-hover-color;
        }
      }
    }
  }
}
